@font-face {
    font-family: 'TiemposHeadline Medium';
    src: url('../fonts/Tiempos Font/TiemposHeadline-Medium/TiemposHeadline-Medium.eot');
    src: url('../fonts/Tiempos Font/TiemposHeadline-Medium/TiemposHeadline-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Tiempos Font/TiemposHeadline-Medium/TiemposHeadline-Medium.woff') format('woff'),
        url('../fonts/Tiempos Font/TiemposHeadline-Medium/TiemposHeadline-Medium.woff2') format('woff2'),
        url('../fonts/Tiempos Font/TiemposHeadline-Medium/TiemposHeadline-Medium.ttf') format('truetype'),
        url('../fonts/Tiempos Font/TiemposHeadline-Medium/TiemposHeadline-Medium.svg#opensans') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: url('../fonts/Circular Font/CircularStd-Book/CircularStd-Book.eot');
    src: url('../fonts/Circular Font/CircularStd-Book/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Circular Font/CircularStd-Book/CircularStd-Book.woff') format('woff'),
        url('../fonts/Circular Font/CircularStd-Book/CircularStd-Book.ttf') format('truetype'),
        url('../fonts/Circular Font/CircularStd-Book/CircularStd-Book.svg#opensans') format('svg');
    font-weight: normal;
    font-style: normal;
}