<footer class="g-footer">
    <div class="g-footer__menu">
        <div class="container">
            <ul class="g-footer__menu-list">
                <li class="menu-item">
                    <a href="">Disclaimer</a>
                </li>
                <li class="menu-item">
                    <a href="">Privacy Policy</a>
                </li>
                <li class="menu-item">
                    <a href="">Terms & Conditions</a>
                </li>
                <li class="menu-item">
                    <a href="">SMS Terms</a>
                </li>
                <li class="menu-item">
                    <a href="">Unsubscribe</a>
                </li>
                <li class="menu-item">
                    <a href="">FAQs</a>
                </li>
                <li class="menu-item">
                    <a href="">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="g-footer__social">
            <div class="g-footer__social-one">
                <a href="" class="g-footer__social-one-link fab fa-facebook-square"></a>
            </div>
            <div class="g-footer__social-one">
                <a href="" class="g-footer__social-one-link fab fa-linkedin"></a>
            </div>
            <div class="g-footer__social-one">
                <a href="" class="g-footer__social-one-link fab fa-instagram"></a>
            </div>
        </div>

        <div class="g-footer__text">
            *This is an education offer not related to any jobs, promotions, or rewards. Prospective students should
            discuss these options with a school representative,
            as this site does not determine eligibility for financial aid. Financial aid is available to those who
            qualify.
            <br /><br />
            &copy; 2019 Align. All rights reserved.
        </div>
    </div>
</footer>