<footer class="g-footer">
    <menu class="g-footer__menu">
        <div class="container">
            <a href="" class="g-footer__menu-link">Disclaimer</a>
            <a href="" class="g-footer__menu-link">Privacy Policy</a>
            <a href="" class="g-footer__menu-link">Terms & Conditions</a>
            <a href="" class="g-footer__menu-link">SMS Terms</a>
            <a href="" class="g-footer__menu-link">Unsubscribe</a>
            <a href="" class="g-footer__menu-link">FAQs</a>
            <a href="" class="g-footer__menu-link">Contact Us</a>
        </div>
    </menu>

    <div class="container">
        <div class="g-footer__social">
            <div class="g-footer__social-one">
                <a href="" class="g-footer__social-one-link fab fa-facebook-square"></a>
            </div>
            <div class="g-footer__social-one">
                <a href="" class="g-footer__social-one-link fab fa-linkedin"></a>
            </div>
            <div class="g-footer__social-one">
                <a href="" class="g-footer__social-one-link fab fa-instagram"></a>
            </div>
        </div>

        <div class="g-footer__text">
            *This is an education offer not related to any jobs, promotions, or rewards. Prospective students should
            discuss these options with a school representative,
            as this site does not determine eligibility for financial aid. Financial aid is available to those who
            qualify.
            <br /><br />
            &copy; 2019 Align. All rights reserved.
        </div>
    </div>
</footer>