<header class="g-header js-header">
    <div class="container">
        <div class="g-header__menu">
            <i class="g-header__menu-mobi-link js-mobiLink"></i>
            <div class="g-header__menu-wrap">
                <ul class="g-header__menu-content">
                    <li class="menu-item current-menu-item">
                        <a href="">How it Works</a>
                    </li>
                    <li class="menu-item">
                        <a href="">About Us</a>
                    </li>
                    <li class="menu-item">
                        <a href="">Resources</a>
                    </li>
                    <li class="menu-item">
                        <a href="">Educators</a>
                    </li>
                    <li class="menu-item">
                        <a href="">News</a>
                    </li>
                    <li class="menu-item">
                        <a href="">Help Center</a>
                    </li>
                </ul>

                <a href="telTo:(123) 456-7890" class="g-header__menu-tel">
                    <i class="g-header__menu-tel-icon"></i>
                    <span class="g-header__menu-tel-num">(123) 456-7890</span>
                </a>
            </div>
        </div>
        <a href="/" class="g-header__logo"></a>

        <a href="telTo:(123) 456-7890" class="g-header__tel">
            <i class="g-header__tel-icon"></i>
            <span class="g-header__tel-num">(123) 456-7890</span>
        </a>
    </div>
</header>