<header class="g-header js-header">
    <div class="container">
        <div class="g-header__menu">
            <i class="g-header__menu-mobi-link js-mobiLink"></i>
            <div class="g-header__menu-wrap">
                <menu class="g-header__menu-content">
                    <a href="" class="g-header__menu-content-link active">How it Works</a>
                    <a href="" class="g-header__menu-content-link">About Us</a>
                    <a href="" class="g-header__menu-content-link">Resources</a>
                    <a href="" class="g-header__menu-content-link">Educators</a>
                    <a href="" class="g-header__menu-content-link">News</a>
                    <a href="" class="g-header__menu-content-link">Help Center</a>
                </menu>

                <a href="telTo:(123) 456-7890" class="g-header__menu-tel">
                    <i class="g-header__menu-tel-icon"></i>
                    <span class="g-header__menu-tel-num">(123) 456-7890</span>
                </a>
            </div>
        </div>
        <a href="/" class="g-header__logo"></a>

        <a href="telTo:(123) 456-7890" class="g-header__tel">
            <i class="g-header__tel-icon"></i>
            <span class="g-header__tel-num">(123) 456-7890</span>
        </a>
    </div>
</header>