@import "parts/_vars.scss";

.p-fs {
    padding: 50px 0px 80px;

    &__step {
        color: #0094C1;
        text-align: center;
        font: bold 16px $cStd;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    &__title {
        font: 36px $thlM;
        text-align: center;
        margin: 0px auto 45px;
        max-width: 600px;
    }

    &__form {
        display: block;
        max-width: 600px;
        margin: auto;

        &-line {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;

            &-block {
                position: relative;
                width: 48%;
                padding-top: 20px;

                &-date-icon {
                    position: absolute;
                    right: 10px;
                    top: 50%;
                }

                &-input {
                    width: 100%;
                    border-bottom: 1px solid #DEE1E5;
                    height: 37px;
                }

                &-label {
                    font: italic 500 12px $cStd;
                    position: absolute;
                    left: 0px;
                    top: 10px;
                    color: #7A838E;
                }
            }
        }

        &-info {
            color: #7A838E;
            font: italic 500 14px $cStd;
            text-align: center;
            margin: 0px auto 30px;
            max-width: 430px;

            a {
                color: #7A838E;
                text-decoration: underline;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        &-results {
            max-width: 260px;
            margin: auto;

            &-submit {
                border: 0px;
                background: #0094C1;
                color: #fff;
                height: 50px;
                border-radius: 30px;
                width: 100%;
                font: 700 16px $cStd;
            }
        }
    }

    &__processing {
        color: #7A838E;
        text-align: center;
        font: 700 16px $cStd;
        text-transform: uppercase;
        margin-bottom: 30px;

        &-loader {
            display: block;
            width: 70px;
            height: 70px;
            margin: 0px auto 30px;
        }
    }

    &__please {
        font: 500 16px $cStd;
        text-align: center;
        max-width: 400px;
        margin: auto;

        &.m-build {
            margin: 0px auto 60px;
        }
    }

    &__success {
        position: relative;
        color: #2ECC71;
        text-align: center;
        font: 700 16px $cStd;
        text-transform: uppercase;
        margin-bottom: 30px;

        &-icon {
            display: block;
            font-size: 50px;
            margin-bottom: 30px;
        }
    }

    &__see {
        max-width: 260px;
        margin: auto;

        &-link {
            display: block;
            background: #F86015;
            box-shadow: none;
            border: 0px;
            color: #fff;
            height: 50px;
            font: bold 16px/50px $cStd;
            border-radius: 30px;
            text-align: center;

            &:hover {
                background: lighten(#F86015, 5%);
                color: #fff;
                text-decoration: none;
            }
        }
    }

    &__aside {
        display: block;
        border: 1px solid #DEE1E5;
        border-top: 4px solid #0094C1;
        padding: 50px;

        &-title {
            font: 600 24px $cStd;
            text-align: center;
            margin-bottom: 30px;
        }

        &-block {
            margin-bottom: 30px;

            &-submit {
                display: block;
                background: #0094C1;
                color: #fff !important;
                height: 50px;
                min-width: 100%;
                max-width: 260px;
                font: bold 16px/48px $cStd;
                border-radius: 30px;
                text-align: center;
                cursor: pointer;
                margin: auto;

                &:hover {
                    background: lighten(#0094C1, 5%);
                    text-decoration: none;
                }
            }
        }
    }

    &__align {
        max-width: 260px;
        margin: auto;

        &-link {
            display: block;
            background: #F86015;
            box-shadow: none;
            border: 0px;
            color: #fff;
            height: 50px;
            font: bold 16px/48px $cStd;
            border-radius: 30px;
            width: 100%;
            text-align: center;

            &:hover {
                background: lighten(#F86015, 5%);
                text-decoration: none;
                color: #fff;
            }
        }
    }

    .ui-dropdown {
        border-bottom: 1px solid #DEE1E5;

        &__btn {
            padding: 10px 0px;
            position: relative;

            span {
                position: absolute;
                right: 10px;
                top: 10px;
            }

            i {
                top: 50%;
                margin-top: -12px;
            }
        }

        &__menu {
            width: 100%;
        }

        &:hover {
            border-color: #12172A;
        }
    }
}

.ui-datepicker {
    width: 320px;

    .ui-datepicker-next-hover {
        right: 2px;
        top: 2px;
    }

    .ui-datepicker-prev-hover {
        left: 2px;
        top: 2px;
    }

    &-calendar {
        thead {
            border: 1px solid #DEE1E5;
            border-right: 0px;
            border-left: 0px;
        }
    }

    th {
        padding: 10px;
        font: 14px/20px $cStd;
        color: #7A838E;
    }
}

.ui-state-default,
.ui-widget-content .ui-state-default {
    border: 0px;
    background: none;
    font: 500 16px/30px $cStd;
    color: #12172A;
    text-align: center;
    width: 30px;
    padding: 0px;
    border-radius: 50%;
    transition: .3s;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight {
    background: #DEE1E5;
}

.ui-state-default.ui-state-hover {
    background: #0094C1;
    color: #fff;
}

.ui-widget {
    &.ui-widget-content {
        border-color: #DEE1E5;
        padding: 30px;
    }

    &-header {
        border: 0px;
        background: none;
        font: bold 18px $cStd;
        text-align: center;
        margin-bottom: 30px;

        .ui-icon {
            background: none;
            font-family: 'Font Awesome 5 Pro';
            font-weight: 900;
            text-indent: 0px;
            font-size: 0px;
            margin-top: -4px;
            cursor: pointer;

            &-circle-triangle-e:before {
                content: "\f054";
                font-size: 14px;
                margin-right: -1px;
            }

            &-circle-triangle-w:before {
                content: "\f053";
                font-size: 14px;
                margin-left: -1px;
            }
        }

        .ui-state-hover {
            background: #DEE1E5;
            border-radius: 50%;
        }
    }
}

@media (max-width: $screen-sm) {
    .p-fs__aside {
        font-size: 0px;
        margin-bottom: 30px;

        &-block {
            display: inline-block;
            vertical-align: top;
            width: 48%;

            &:nth-child(1),
            &:nth-child(3) {
                margin-right: 4%;
            }

            .ui-dropdown {
                font-size: 15px;

                &__btn {
                    i {
                        right: 25px;
                    }

                    span {
                        right: 0px;
                    }
                }
            }

            &.m-submit {
                display: block;
                width: 260px;
                margin: 0px auto;
            }
        }
    }
}

@media (max-width: 670px) {
    .p-fs {
        &__aside {
            border: 0px;
            padding: 0px;

            &-block {
                width: 100%;
                margin: 0px 0px 20px !important;

                &.m-submit {
                    width: auto;
                }
            }
        }
    }
}

@media (max-width: $screen-xs) {
    .p-fs {
        &__title {
            font-size: 32px;
        }

        &__form-line {
            display: block;

            &-block {
                width: 100%;
                margin-bottom: 40px;
            }
        }
    }
}