@import "parts/_vars.scss";

.hc {
    &-header {
        position: relative;
        box-shadow: inset 0px -1px 0px #DEE1E5;
        padding: 80px 0px 90px;
        text-align: center;
        background: #FAFBFB;
        margin-bottom: 100px;

        &__subtitle {
            color: #0094C1;
            font: bold 16px/19px $cStd;
            margin-bottom: 30px;
            text-transform: uppercase;
        }

        &__title {
            font: 64px/75px $thlM;
        }

        &__scroll {
            position: absolute;
            left: 50%;
            bottom: -20px;
            width: 40px;
            height: 40px;
            margin-left: -20px;
            background: #fff;
            border-radius: 50%;
            line-height: 40px;
            text-align: center;
            box-shadow: 0px 5px 10px rgba(18, 23, 42, 0.1);
            cursor: pointer;
        }
    }

    &-content {
        max-width: 555px;
        margin: 0px auto 100px;

        &__block {
            box-shadow: inset 0px -1px 0px #DEE1E5;
            padding: 30px 0px;

            &:first-of-type {
                box-shadow: inset 0px 1px 0px #DEE1E5;
            }

            &-question {
                font: 24px/30px $cStd;
                position: relative;
                cursor: pointer;
                padding-right: 30px;

                &-icon {
                    position: absolute;
                    right: 0px;
                    top: 0px;
                    width: 20px;
                    height: 20px;
                    transition: .5s;

                    &:before,
                    &:after {
                        content: "";
                        position: absolute;
                    }

                    &:before {
                        left: 50%;
                        top: 0px;
                        margin-left: -1px;
                        height: 100%;
                        border-right: 2px solid #12172A;
                    }

                    &:after {
                        left: 0px;
                        top: 50%;
                        margin-top: -1px;
                        width: 100%;
                        border-top: 2px solid #12172A;
                    }
                }
            }

            &-answer {
                font: 16px/20px $cStd;
                padding-top: 30px;
                display: none;
            }

            &.opened &-question-icon {
                transform: rotate(135deg);
            }
        }
    }

    &-aside {
        display: block;
        border: 1px solid #DEE1E5;
        border-top: 4px solid #0094C1;
        padding: 45px 60px 20px;

        &__title {
            font: 600 36px/42px $thlM;
            text-align: center;
            margin-bottom: 15px;
        }

        &__block {
            margin-bottom: 33px;

            .ui-dropdown {
                border-bottom: 1px solid #DEE1E5;
                padding-bottom: 20px;

                &__btn {
                    font-size: 18px;
                    position: relative;

                    span {
                        position: absolute;
                        right: -47px;
                        top: 0px;
                    }
                }
            }

            &-input {
                width: 100%;
                box-shadow: none;
                border: 0px;
                border-bottom: 1px solid #12172A;
                height: 50px;
                font: 18px/20px $cStd;
                padding-right: 70px;

                &:focus,
                &:active {
                    outline: none;
                }
            }

            &.m-input {
                position: relative;
                margin-bottom: 30px;

                &:after {
                    content: "Optional";
                    position: absolute;
                    right: 0px;
                    top: 17px;
                    color: #DEE1E5;
                    font: italic 15px/20px $cStd;
                }
            }

            &-submit {
                background: #F86015;
                box-shadow: none;
                border: 0px;
                color: #fff;
                height: 50px;
                font: bold 16px/20px $cStd;
                border-radius: 30px;
                display: block;
                width: 100%;

                &:hover {
                    background: lighten(#F86015, 5%);
                }
            }
        }
    }

    &-subscribe {
        background: #B5D9E2;
        padding: 75px 0px;

        &__title {
            font: 36px/42px $thlM;
            margin-bottom: 5px;
        }

        &__form {
            padding-top: 45px;

            &-input {
                margin-right: 30px;
                background: none;
                border: 0px;
                border-bottom: 1px solid #12172A;
                font: italic 20px/1 $cStd;
                padding-bottom: 20px;

                &:focus,
                &:hover {
                    outline: none;
                }
            }

            &-submit {
                width: 200px;
                background: #12172A;
                color: #fff;
                border-radius: 30px;
                height: 50px;
                font: 16px/50px $cStd;
                transition: .5s;

                &:focus,
                &:hover {
                    outline: none;
                    box-shadow: inset 0px 0px 0px 50px lighten(#12172A, 5%);
                }
            }
        }
    }

    &-redefine {
        padding: 170px 0px 100px;
        background: url("../img/bg-redefine.png") center center no-repeat;
        background-size: cover;
        text-align: center;

        &__title {
            font: 64px/75px $thlM;
            margin-bottom: 25px;
            color: #fff;
        }

        &__align {
            display: block;
            margin: auto;
            width: 200px;
            background: #F86015;
            color: #fff;
            border-radius: 30px;
            height: 50px;
            font: 16px/50px $cStd;
            transition: .5s;

            &:hover {
                box-shadow: inset 0px 0px 0px 50px lighten(#F86015, 5%);
                color: #fff;
                text-decoration: none;
            }
        }
    }
}

@media (max-width: 1024px) {
    .hc {
        &-subscribe__form-input {
            margin-bottom: 20px;
        }
    }
}

@media (max-width: $screen-sm) {
    .hc {
        &-aside {
            font-size: 0px;
            margin-bottom: 30px;

            &__block {
                display: inline-block;
                vertical-align: top;
                width: 48%;

                &:nth-child(1),
                &:nth-child(3) {
                    margin-right: 4%;
                }

                .ui-dropdown__btn {
                    span {
                        right: 0px;
                    }
                }

                &.m-input {
                    &:after {
                        top: 19px;
                    }
                }

                &-input {
                    height: 43px;
                }

                &:last-of-type {
                    display: block;
                    margin: auto;
                }
            }
        }

        &-subscribe {
            padding: 50px 0px;
            background: #0094C1;
            color: #fff;

            &__title {
                font-size: 36px;
                line-height: 42px;
                margin-bottom: 10px;
            }

            &__form {
                &-input {
                    margin-bottom: 30px;
                    color: #fff;
                    border-color: #fff;
                    width: 100%;
                }

                &-submit {
                    border: 1px solid #fff;
                    color: #fff;
                    background: none;
                    width: 100%;
                }
            }
        }

        &-redefine {
            padding: 135px 0px;

            &__title {
                font-size: 48px;
                line-height: 56px;
                max-width: 400px;
                margin: 0px auto 0px;

                &-set {
                    font: 20px/24px $cStd;
                    margin: 10px 0px 20px;
                }
            }
        }
    }
}

@media (max-width: $screen-xs) {
    .hc {
        &-header {
            padding: 50px 0px 10px;

            &__title {
                font-size: 48px;
                line-height: 56px;
            }

            &__subtitle {
                font-size: 14px;
                line-height: 20px;
            }
        }

        &-content__block {
            &-question {
                font-size: 20px;
                line-height: 24px;
            }

            &-answer {
                font-size: 14px;
                line-height: 20px;
            }
        }

        &-aside {
            border: 0px;
            padding: 0px;

            &__block {
                width: 100%;
                margin: 0px 0px 20px !important;

                &.m-input {
                    margin-bottom: 40px !important;
                }
            }
        }

        &-subscribe {
            text-align: center;

            &__title {
                font: 32px/37px $thlR;
            }

            &__text {
                font-size: 16px;
                line-height: 20px;
            }

            &__form {
                padding-top: 55px;
                position: relative;

                &:before {
                    content: "Phone Number";
                    position: absolute;
                    left: 0px;
                    top: 30px;
                    font: italic 12px/20px $cStd;
                    color: #fff;
                    opacity: .5;
                }
            }
        }

        &-redefine {
            padding: 100px 0;
        }
    }
}